/***** GENERAL *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  padding-top: 80px;
  line-height: 1.5;
}

main {
  margin-inline: 10%;
}

/***** Index *****/
.artistSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

#program {
  padding-top: 3rem;
}
