---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="About Us">
  <Button variant="primary" size="large">CLICK</Button>
  <Button variant="secondary" size="medium">CLICK</Button>
  <Button variant="tertiary" size="small">CLICK</Button>
  <h2>HEY</h2>
  <h2>HEY</h2>
  <h2>HEY</h2>
  <h2>HEY</h2>
  <h2>HEY</h2>
  <h2>HEY</h2>
  <h2>HEY</h2>
  <h2>HEY</h2>
</MainLayout>
