---
import MainLayout from "../layouts/MainLayout.astro";
import ArtistCard from "../components/ArtistCard.astro";
import Ticket from "../components/Ticket.astro";

const data = await fetch("https://zadcnepblqcmzlxelrhb.supabase.co/rest/v1/artists", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphZGNuZXBibHFjbXpseGVscmhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg4OTAzMTAsImV4cCI6MTk5NDQ2NjMxMH0.kI4z8TZt2TNdOSDku4oWLr3MsZQti7pRGfPc4traZp0",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout headline="" title="KUNE">
  <div class="frontPageFlex">
    <img class="frontPage" src="img/frontPage.webp" alt="" />
    <p class="frontPageCategories">MUSIC // ART // COMMUNITY</p>
    <p class="fp1">KUNE</p>
    <p class="fp2">FESTIVAL</p>
    <p class="fp3">19 - 23 JULY</p>
    <p class="fp4">2023</p>
  </div>
  <div class="countdown">
    <div>
      <p id="days">00</p>
      <span>Days</span>
    </div>
    <div>
      <p id="hours">00</p>
      <span>Hours</span>
    </div>
    <div>
      <p id="minutes">00</p>
      <span>Minutes</span>
    </div>
    <div>
      <p id="seconds">00</p>
      <span>Seconds</span>
    </div>
  </div>
  <h2 id="program">PROGRAM 2023</h2>
  <div class="horizontalFlex categories">
    <h3><span class="selected">All</span></h3>
    <div class="verticalLine"></div>
    <h3>Music</h3>
    <h3>Art</h3>
    <h3>Workshops</h3>
  </div>
  <div class="horizontalFlex2 datesStages">
    <div class="horizontalFlex dates">
      <h4>19/07</h4>
      <h4>20/07</h4>
      <h4>21/07</h4>
      <h4>22/07</h4>
      <h4>23/07</h4>
    </div>
    <div class="horizontalFlex stages">
      <h4>Space</h4>
      <h4>Vessel</h4>
      <h4>Astral</h4>
      <h4>Beach</h4>
      <h4>Amphi</h4>
    </div>
  </div>
  <section class="artistSection">
    {
      data.map((artist) => {
        return <ArtistCard data={artist} />;
      })
    }
  </section>
  <h2 id="booking">BOOKING 2023</h2>
  <div class="horizontalFlex categories">
    <h3><span class="selected">Tickets</span></h3>
    <h3>Camping</h3>
    <h3>Ferry</h3>
  </div>
  <section class="ticketSection">
    <Ticket type="PARTOUT" date="19th - 23rd" />
    <Ticket type="DAY PASS" date="19th" />
    <Ticket type="DAY PASS" date="20th" />
    <Ticket type="DAY PASS" date="21st" />
  </section>
</MainLayout>

<style>
  #program,
  #booking {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    scroll-margin-top: 3rem;
  }

  .frontPageFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .frontPageCategories {
    font-size: 2.5rem;
    font-family: "Dance";
    writing-mode: vertical-lr;
    margin-left: 1.5rem;
  }

  .fp1,
  .fp2,
  .fp3,
  .fp4 {
    font-family: "Dance";
    position: absolute;
    color: #e5f793;
    -webkit-text-stroke: 2px #caf01f;
    text-stroke: 2px #caf01f;
  }

  .fp1 {
    font-size: 8rem;
    top: 9%;
    left: 21%;
  }

  .fp2 {
    font-size: 8rem;
    top: 35%;
    left: 33%;
  }

  .fp3 {
    font-size: 4rem;
    top: 60%;
    left: 49%;
  }

  .fp4 {
    font-size: 4rem;
    top: 73%;
    left: 65.5%;
  }

  .countdown {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 8rem;
  }

  .countdown div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 125px;
    height: 125px;
    text-align: center;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
    font-family: "Dance";
  }

  .countdown p {
    font-size: 3rem;
  }

  .countdown span {
    font-size: 1.2rem;
  }

  .artistSection,
  .ticketSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  .verticalLine {
    background-color: #2d2c2a;
    height: 35px;
    width: 2px;
  }

  .categories {
    font-size: 2rem;
    gap: 1rem;
    font-family: "Dance";
    justify-content: center;
    text-transform: uppercase;
  }

  .datesStages {
    gap: 5rem;
    justify-content: center;
    margin-top: 1rem;
    text-transform: uppercase;
  }
  .dates {
    gap: 1rem;
    font-family: "Montserrat";
  }
  .stages {
    gap: 1rem;
    font-family: "Montserrat";
  }

  h2 {
    margin-top: 3rem;
  }

  h3:hover,
  h4:hover {
    cursor: pointer;
    color: #1a4ede;
  }

  .selected {
    color: #1a4ede;
  }

  @media only screen and (max-width: 1100px) {
    .fp1 {
      font-size: 6rem;
      top: 15%;
      left: 15%;
    }

    .fp2 {
      font-size: 6rem;
      top: 38%;
      left: 27%;
    }

    .fp3 {
      font-size: 3rem;
      top: 64%;
      left: 46%;
    }

    .fp4 {
      font-size: 3rem;
      top: 76%;
      left: 65.5%;
    }
  }

  @media only screen and (max-width: 930px) {
    h4 {
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .horizontalFlex {
      justify-content: center;
    }

    .horizontalFlex2 {
      display: block;
    }

    .artistSection,
    .ticketSection {
      gap: 2rem;
    }

    h3 {
      font-size: 1rem;
    }
  }
</style>
