---
const { variant, size, extra } = Astro.props;
---

<button class={variant + " " + size + " " + extra}><slot /></button>

<style>
  button {
    padding-block: 10px;
    padding-inline: 20px;
    border: 0;
    cursor: pointer;
    font-family: "Montserrat";
  }

  button:hover {
    background-color: #2d2c2a;
    border: 2px solid #2d2c2a;
    color: #eaeaea;
  }

  .primary {
    background-color: #1a4ede;
    color: #e5f793;
    font-weight: bold;
    border: 2px solid #1a4ede;
    border-radius: 10px;
  }

  .secondary {
    background-color: #2d2c2a;
    color: #e5f793;
    font-weight: bold;
    border: 2px solid #2d2c2a;
    border-radius: 10px;
  }

  .small {
    font-size: 1rem;
  }

  .medium {
    font-size: 1.5rem;
  }

  .large {
    font-size: 2rem;
  }

  .margin {
    margin-top: 2rem;
  }
</style>
