---
---

<footer>
  <div class="footerContent">
    <ul>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Practical Information</a></li>
      <li><a href="">Volunteer</a></li>
      <li><a href="">Information for Artists</a></li>
      <li><a href="">Cookie Policy</a></li>
    </ul>
    <a href="index.html">LOGO</a>
    <div class="verticalFlex">
      <p>FOLLOW KUNE FESTIVAL</p>
      <div class="someIcons">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <p class="rights textAlign">KUNE FESTIVAL // ALL RIGHTS RESERVED</p>
</footer>

<style>
  * {
    font-family: "Montserrat";
  }

  footer {
    padding-inline: 10%;
    background-color: #e5f793;
    padding-block: 2rem;
    padding-top: 5rem;
    margin-top: 5rem;
  }

  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }

  ul li {
    padding-block: 0.5rem;
  }

  a {
    color: #2d2c2a;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: #1a4ede;
  }

  p {
    font-weight: bold;
  }

  .rights {
    padding-top: 2rem;
  }

  .someIcons {
    display: flex;
    gap: 1.5rem;
    font-size: 2.5rem;
  }
</style>
