---
import Button from "./Button.astro";
const { type, date } = Astro.props;
---

<div class="ticket verticalFlex">
  <h3>{type}</h3>
  <div class="verticalFlex info">
    <p class="month">JULY</p>
    <p class="date">{date}</p>
    <p class="year">2023</p>
    <Button variant="secondary" size="medium" extra="margin">BUY TICKETS</Button>
  </div>
  <p>UNGDOMSØEN</p>
</div>

<style>
  * {
    font-family: "Montserrat";
  }

  .ticket {
    background-color: #e5f793;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
    padding-block: 3rem;
    height: 80vh;
    font-weight: bold;
  }

  h3 {
    font-size: 3rem;
  }

  .month,
  .date {
    font-size: 2rem;
  }

  .year {
    font-size: 1.25rem;
  }
</style>
